@{
    ViewData["Title"] = "Listagem de Alunos";
}
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Criar">Adicionar Aluno</a>
</div>
<h1 class="display-4">Listagem de Alunos</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Endereço</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Telefone</th>
            <th scope="col">Sexo</th>
            <th scope="col">Ações</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Marcel</td>
            <td>10/02/1985</td> 
            <td>Rua YY</td>
            <td>123.456.789-00</td>
            <td>12.345.678-9</td> 
            <td>997500799</td>
            <td>Masculino</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a role="button" class="btn btn-success" asp-controller="Aluno" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger" asp-controller="Aluno" asp-action="ApagarConfirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>15/04/1990</td>
            <td>5678 Oak St.</td>
            <td>234.567.890-11</td>
            <td>23.456.789-0</td>
            <td>998877665</td>
            <td>Masculino</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a role="button" class="btn btn-success" asp-controller="Aluno" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger" asp-controller="Aluno" asp-action="ApagarConfirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry Bird</td>
            <td>07/09/1988</td>
            <td>9102 Pine St.</td>
            <td>345.678.901-22</td>
            <td>34.567.890-1</td>
            <td>996655443</td>
            <td>Masculino</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a role="button" class="btn btn-success" asp-controller="Aluno" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger" asp-controller="Aluno" asp-action="ApagarConfirmacao">Apagar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>

