@{
    ViewData["Title"] = "Listagem de Professores";
}

<h1>Listagem de Professores</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Marcel</td>
            <td>marcel@gmail.com</td>
            <td>997500799</td>
            <td>Rua YY</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a role="button" class="btn btn-success" type="button">Editar</a>
                    <a role="button" class="btn btn-danger" type="button">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>jacob.thornton@example.com</td>
            <td>fat</td>
            <td>5678 Oak St.</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a role="button" class="btn btn-success" type="button">Editar</a>
                    <a role="button" class="btn btn-danger" type="button">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>larry.bird@example.com</td>
            <td>twitter</td>
            <td>9102 Pine St.</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a role="button" class="btn btn-success" type="button">Editar</a>
                    <a role="button" class="btn btn-danger" type="button">Apagar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
