@model CurricularizacaoADS2024.Models.Matricula

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataMatricula" class="control-label"></label>
                <input asp-for="DataMatricula" class="form-control" />
                <span asp-validation-for="DataMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cursoID" class="control-label"></label>
                <select asp-for="cursoID" class="form-control" asp-items="ViewBag.cursoID"></select>
                <span asp-validation-for="cursoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alunoID" class="control-label"></label>
                <select asp-for="alunoID" class="form-control" type="text" asp-items="ViewBag.alunoID"></select>
                <span asp-validation-for="alunoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RA" class="control-label"></label>
                <input asp-for="RA" class="form-control" type="text" />
                <span asp-validation-for="RA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="turmaID" class="control-label"></label>
                <select asp-for="turmaID" class="form-control" asp-items="ViewBag.turmaID"></select>
                <span asp-validation-for="turmaID" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <input type="submit" value="Salvar" class="btn btn-success mr-2" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
